@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: auto;
    font-weight: auto;
  }

  :root {
    /* --background: 0 0% 100%; */
    --background: 0 0% 96%;
    --foreground: 222.2 84% 4.9%;
    --background-alt: 0 0% 94%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 90%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;

    --color-lila-50: #fbfaff;
    --color-lila-100: #f7f5ff;
    --color-lila-200: #eae6fe;
    --color-lila-300: #e2dcfe;
    --color-lila-400: #d6cefd;
    --color-lila-500: #c8befd;
    --color-lila-600: #b4a6fc;
    --color-lila-700: #a08dfb;
    --color-lila-800: #836bfa;
    --color-lila-900: #5534f9;
    --color-info-50:  #f2f6fc;
    --color-info-100: #e1eaf8;
    --color-info-200: #cadaf3;
    --color-info-300: #a6c3ea;
    --color-info-400: #7ca4de;
    --color-info-500: #5d85d4;
    --color-info-600: #496bc7;
    --color-info-700: #3f59b6;
    --color-info-800: #384a95;
    --color-info-900: #324076;
    --color-info-950: #222949;
    --color-yellow-50: #fffdfa;
    --color-yellow-100: #fffaf5;
    --color-yellow-200: #fff5eb;
    --color-yellow-300: #feeedc;
    --color-yellow-400: #fee9d2;
    --color-yellow-500: #fee3c6;
    --color-yellow-600: #fdc991;
    --color-yellow-700: #fca446;
    --color-yellow-800: #ec7c04;
    --color-yellow-900: #aa5903;
    --color-green-50: #f8fbfc;
    --color-green-100: #f2f7f8;
    --color-green-200: #e1edef;
    --color-green-300: #d3e5e8;
    --color-green-400: #c6dde2;
    --color-green-500: #b7d4da;
    --color-green-600: #82b5bf;
    --color-green-700: #51919e;
    --color-green-800: #366068;
    --color-green-900: #1c3236;
    --color-red-50: #fefbfb;
    --color-red-100: #fdf7f8;
    --color-red-200: #fbeaed;
    --color-red-300: #f8dde2;
    --color-red-400: #f6d0d7;
    --color-red-500: #f3c4cd;
    --color-red-600: #eeaab7;
    --color-red-700: #e88d9d;
    --color-red-800: #de5e75;
    --color-red-900: #bf2743;
    --color-brutal-white: #f5f5f5;
    --color-brutal-black: #1a1a1a;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 240 6% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 4% 16%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }

  [data-theme='dark']
  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 240 6% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 4% 16%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-7xl lg:text-5xl;
  }
  h2 {
    @apply text-6xl lg:text-4xl;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
